* {
  box-sizing: border-box;
}
:root {
  --primary-color: #9067C6;    /* ม่วงลาเวนเดอร์เข้ม - สีไฮไลท์หลัก */
  --secondary-color: #D4BFFF;  /* ม่วงอ่อนพาสเทล - สีเสริม */
  --background-color: #F8F0FF; /* ม่วงอ่อนมาก - พื้นหลังหลัก */
  --surface-color: #FFFFFF;   /* ขาวบริสุทธิ์ - พื้นหลังการ์ด */
  --text-color: #4A4A4A;      /* เทาเข้ม - ตัวหนังสือ */
  --border-color: #CFCFFF;    /* ฟ้า/ม่วงอ่อน - เส้นขอบ */
  --nav-hover-color: #EFEAFF; /* ม่วงอ่อนสำหรับ Hover */
}
body {
  font-family: "Prompt", sans-serif;
  background-color: var(--background-color);;
  color: var(--text-color);
}
.page-header {
  background-color: #ffffff;
  padding: 20px;
}
#page-title {
  color: var(--primary-color); /* สีน้ําเงินเข้ม */
  font-size: 24px;
}
.card {
  background-color: var(--surface-color);
  padding: 20px;
  border: 1px solid var(--border-color);
  margin: 10px;
}
UL,li,a {
    text-decoration: none;
    color: rgb(12, 12, 12);
    -moz-text-decoration-line: none;
}