* {
  box-sizing: border-box;
}
:root {
  --primary-color: #f88fc7;
  --secondary-color: #DA70D6;
  --background-color: #f686cd;
  --surface-color: #948e8e;
  --text-color: #FFF0F5;
  --border-color: #e860fd;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: var(--background-color);;
  color: var(--text-color);
}
.page-header {
  background-color: #ffffff;
  padding: 20px;
}
#page-title {
  color: var(--primary-color); /* สีน้ําเงินเข้ม */
  font-size: 24px;
}
.card {
  background-color: var(--surface-color);
  padding: 20px;
  border: 1px solid var(--border-color);
  margin: 10px;
}
UL,li,a {
    text-decoration: none;
    color: white;
    -moz-text-decoration-line: none;
}