* {
  box-sizing: border-box;
}
:root {
  --primary-color: #9067C6;    /* ม่วงลาเวนเดอร์เข้ม - สีไฮไลท์หลัก */
  --secondary-color: #D4BFFF;  /* ม่วงอ่อนพาสเทล - สีเสริม */
  --background-color: #F8F0FF; /* ม่วงอ่อนมาก - พื้นหลังหลัก */
  --surface-color: #FFFFFF;   /* ขาวบริสุทธิ์ - พื้นหลังการ์ด */
  --text-color: #4A4A4A;      /* เทาเข้ม - ตัวหนังสือ */
  --border-color: #CFCFFF;    /* ฟ้า/ม่วงอ่อน - เส้นขอบ */
  --nav-hover-color: #EFEAFF; /* ม่วงอ่อนสำหรับ Hover */
}
body {
  font-family: "Prompt", sans-serif;
  background-color: var(--background-color);;
  color: var(--text-color);
}
.page-header {
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid var(--background-color);
  display: flex;
  justify-content: space-between ;
  align-items: center;
}
.user-profile{
  font-size: 14px;
  color: var(-- --secondary-color);
}

#page-title {
  color: var(--primary-color); /* สีน้ําเงินเข้ม */
  font-size: 24px;
}

.card {
  background-color: var(--surface-color);
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05) ;
}

UL,li,a {
    text-decoration: none;
    color: rgb(12, 12, 12);
    -moz-text-decoration-line: none;
}

.sidebar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar li a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

aside li{
  padding: 10px;
}

.Dashboard-container{
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 250px;
    padding: 20px;
    background-color: var(--surface-color);
}

.main-content{
    flex-grow: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.sidebar li a:hover{
  background-color: rgb(193, 65, 212);
}

@media (max-width:768px) {
  .Dashboard-container{
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
    padding: 10px;
  }
  .main-content{
    grid-template-columns: 1fr;
  }
}